@{
    ViewData["Title"] = "Acerca de";
}
<header class="masthead" style="background-image: url('/images/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Acerca de</h1>
                    <span class="subheading">¿De que trata la pagina?</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Esta pagina fue realizada de forma educativa para el curso .Net dictado en el Instituto Superior Dr. Carlos María Carena</p>
            <p>Cumple la funcionalidad de enviar mensajes para contactar, cargar y mostrar noticias con la arquitectura de MVC core 2 en c# almacenando en una base de datos local</p>
            <p>Quien soy, quien no soy, vos sos vos y yo soy yo, el es el y ellos son ellos </p>
        </div>
    </div>
</div>
