@model EnvioDeMail
@{
    ViewData["Title"] = "Contacto";
}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/images/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Contactenos</h1>
                    <span class="subheading" style="color:blue;">@ViewData["Message"]</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>¿Quieres ponerte en contacto? ¡Complete el siguiente formulario para enviarme un mensaje y le responderemos lo antes posible!</p>
            <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
            <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
            <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
            <form method="POST">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label asp-for="Name">Nombre</label>
                        <input asp-for="Name" type="text"  class="form-control" placeholder="Name" name="name" id="name" data-validation-required-message="Ingrese su nombre.">
                        <p class="help-block text-danger">
                            <span asp-validation-for="Name"></span>
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" type="email"  class="form-control" placeholder="Email Address" name="email" id="email" data-validation-required-message="Ingrese su email">
                        <p class="help-block text-danger">
                            <span asp-validation-for="Email"></span>
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label asp-for="Phone">Numero de telefono</label>
                        <input asp-for="Phone" type="tel"  class="form-control" placeholder="Phone Number" id="phone" name="phone" data-validation-required-message="Ingrese su numero de telefono">
                        <p class="help-block text-danger">
                            <span asp-validation-for="Phone"></span>
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label asp-for="Message">Consulta</label>
                        <textarea asp-for="Message" rows="5"  class="form-control" placeholder="Message" id="message" name="message" data-validation-required-message="Ingrese su consulta"></textarea>
                        <p class="help-block text-danger">
                            <span asp-validation-for="Message"></span>
                        </p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>   
        </div>
    </div>
</div>

